__pycache__/
*.pyc
*.fastq.gz
*.fastq
*.fq.gz
*.fq
*.sif
*.bam
*.bam.bai
*.tsv
*.fna
*.gff
*.fai
*.html
*.json
work/
.nextflow/
.nextflow.log*
.command.*
GCF_*
SRR*
DRR*
Simple_pipeline*
assembly_data*
data_summary*
alignment*
