process {
    withName: FASTP {  // Docker Hub path translated for Singularity
    container = 'docker://staphb/fastp:latest'}
    withName: INDEX {
    container = 'docker://staphb/bwa:latest'}
    withName: BWA {
    container = 'docker://staphb/bwa:latest'}
    withName: ALIGN{
    container = 'docker://staphb/samtools:latest'}
}
singularity {
    enabled = true
    autoMounts = true
}